:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  
  /* size */
  --size-button: 60px; 
  --border-radius: 6px;
  --logo-size: 80px;
  --img-size: 60px;
  --base-space: 8px;

  /* animation */
  --animation-duration: transform 300ms ease;

}

body {
  height: 100vh;
  background-color: var(--color-black); 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  padding:0;
  border: none;
  cursor: pointer;
  transform: var(--animation-duration);
  background-color: transparent;
}

#logo{
  margin: var(--base-space);
}
#logo img{
  display:flex;
  margin: auto;
  width: var(--logo-size);
  height: var(--logo-size);
  transition: var(--animation-duration);
}

#category {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#category button:hover,
#logo img:hover{
  transform: scale(1.1);
}

#category {
  height: 100px;
}

.type img{
  width: var(--logo-size);
  height: var(--logo-size);
  transition: var(--animation-duration);
  margin: 0 var(--base-space);
  background-color: var(--color-black);
}


.color button{
  width:  calc(2*var(--size-button));
  height: var(--size-button);
  margin: 4px;
  border-radius: var(--border-radius);
  font-weight: var(--weight-semi-bold);
  font-size: var(--weight-regular);
  
}
.color__blue{
  background-color: var(--color-blue);
}
.color__yellow{
  background-color: var(--color-yellow);
}
.color__pink{
  background-color: var(--color-pink);
}

#items {
  overflow-y: scroll;
  width: 60%;
  height: 60%;
  margin: auto;
  padding: 0;
}
.item{
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  font-size: var(--font-regular);
  margin: var(--base-space);
  list-style: none;
  display: flex;
  align-items: center;
  
}

#items img{
  width: var(--img-size);
  height: var(--img-size);
  margin: var(--base-space);
  background-color: var(--color-white);

}


